@charset "ISO-8859-1";

.center-content{
	width: 90%;
	height: 300px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.connexion a,
.connexion label{
	font-size:14px;
}

.connexion button{
	font-size:14px;
}

button .btn-creation{
	font-size:12vw;
}

.btn-creation{
	width:100%;
	padding:35px 0 35px 0;
}

@media (min-width: 1200px) { 

	.center-content{
	width: 20%;
	height: 300px;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

	h1{
		font-size:2vw;
		text-align: justify;
		margin:80px 0 0 200px;
	}
	
}