@charset "ISO-8859-1";

.form-group{
	margin-bottom: 0vw;
}

label{
	margin-bottom: 2vw;
}

.connexion{
	margin-top:30px;
}

.btn-creation{
	margin-right:50px;
}

.btn-creation,
.btn-annulation{
	font-size:3vw;
	padding:10px 20px 10px 20px;
}

@media (min-width: 1200px) { 
	
	.center-content{
		margin-top:100px;
	}
	
	.btn-creation{
	margin-right:100px;
	}
	
	.btn-creation,
	.btn-annulation{
	margin-top:50px;
	padding:20px 80px 20px 80px;
	font-size:.8vw;
	}
	
	.form-control{
		width:80%;
	}
	
}

