/* Antony */

@charset "ISO-8859-1";

.nomArticle{
	font-size: 18px;
	font-weight: 600;
}

.image{
	width: 100%;
	height: 150px;
	background: black;
}

.label-bold{
	font-weight: 600;
	font-size: 14px;
}

p{
	font-size: 12px;
}

.btn-back,
.btn-retrait,
.btn-contacter{
	font-size:10px;
}


@media (min-width: 1200px) { 
	
	.image{
		width: 100%;
		height: 300px;
		background: black;
	}
	
	.content-vente{
		margin-left:32px;
	}
	
	.nomArticle{
		font-size: 24px;
	}
	
	.label-bold{
		font-weight: 600;
		font-size: 16px;
	}
	
	p{
		font-size: 14px;
	}
	
	.btn-back,
	.btn-retrait,
	.btn-contacter
	{
		font-size:16px;
	}
	
}