/* Antony */

@charset "ISO-8859-1";

.form-group{
	margin:0;
}

.btn-rechercher{
	margin-top:16px;
	width:100%;
	padding:20px 0 20px 0;
}

.jumbotron{
	margin-top: 15px
}

.image{
	width: 80px;
	height: 100px;
	background: black;
}

.jumbotron-bold-title{
	font-size:18px;
	font-weight: 600;
}

.jumbotron-bold{
	font-size: 14px;
	font-weight: 600;
}

.jumbotron p{
	font-size: 12px;
	margin:0;
}

@media (min-width: 1200px) { 
	
	#liste-enchere{
		margin-top:64px;
	}
	
	.jumbotron{
		margin-top:50px;
	}
	
	.jumbotron-bold-title{
		font-size:24px;
	}
	
	.jumbotron .tabulation {
	margin-left:62px;
	}
	
	.jumbotron-bold{
		font-size: 16px;
		font-weight: 600;
	}
	
	.jumbotron p{
		font-size: 14px;
	}
	
	.image{
		width: 100px;
		height: 120px;
		background: black;
	}
	
}

