@charset "ISO-8859-1";

.form-group{
	margin:0;
}

.btn-rechercher{
	margin-top:16px;
	width:100%;
	padding:20px 0 20px 0;
}

.jumbotron{
	margin-top: 15px
}

.image{
	width: 80px;
	height: 100px;
	background: black;
}

@media (min-width: 1200px) { 
	
	#liste-enchere{
		margin-top:64px;
	}
	
	.jumbotron{
		margin-top:100px;
	}
	
	.jumbotron a{
		font-size:.8vw;
	}
	
	.image{
		width: 100px;
		height: 120px;
		background: black;
	}
	
	.utilisateur-connecte{
		background-color: #007bff;
		padding:30px 15px 30px 15px;
		text-align: center;
		color:white;
		font-weight: 600;
	}
	
}