@charset "ISO-8859-1";

.image{
	width: 100%;
	height: 150px;
	background: black;
}

legend{
	font-size:7.5vw;
}
@media (min-width: 1200px) { 
	
	legend{
		font-size:2vw;
	}
	
	.image{
		width: 100%;
		height: 300px;
		background: black;
	}
	
	.content-vente{
		margin-left:32px;
	}
	
	.btn-back{
		padding: 15px 30px 15px 30px;
	}
	
}