/* Antony */

@charset "ISO-8859-1";

.utilisateur-info p{
	font-size:16px;
}

@media (min-width: 1200px) { 
	
	.form-control{
		width:80%;
	}
	
	.label-bold{
		font-size:18px;
	}
	
	.utilisateur-info p{
	font-size:18px;
	}
	
}

