/* Antony */

@charset "ISO-8859-1";

html {
 	position: relative;
	min-height: 100%;
}

body {
  	margin-bottom: 20vw;
}

h2{
	font-size: 5vw;
	font-weight: 600;
}

label, p, h3{
	font-size: 12px;
}

a{
	margin:0;
	font-size: 12px;
}

ul{
	list-style: none;
	padding-left: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding:10px;
	background-color: #007bff;
	color: white;
}

.menu .logo {
	font-size: 28px;
	font-weight: 600;
}
	
.menu .logo:hover {
	text-decoration : none;
}

.navbar-dark .navbar-nav .nav-link{
	color:white;
}
	
.menu .lien {
	font-size: 16px;
}

.container-fluid{
	padding: 0;
}

@media (min-width: 992px){
	
	h2{
		font-size: 30px;
		font-weight: 600;
		margin-bottom:30px;
	}

	label, p, h3, .menu .lien{
		font-size:16px;
	}

	a{
		font-size:14px;
	}
	
}

@media (min-width: 1200px) { 
	
	h2{
		font-size:1.5vw;
		margin-bottom:30px;
	}
	
	label, p, h3, .menu .lien{
		font-size:.9vw;
		margin:0;
	}
	
	body {
  		margin-bottom: 100px;
	}
	
	.menu .logo {
		font-size: 2.5vw;
		padding: 20px;
	}
	
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding:20px;
		background-color: #007bff;
		color: white;
	}
	
}