@charset "ISO-8859-1";

h1{
	text-align: center;
	margin:15px 0 15px 0;
	font-weight: 600;
}

h2{
	font-size: 5vw;
}

label, p, h3{
	font-size:4vw;
}

a{
	margin:0;
	font-size:3vw;
}

ul{
	list-style: none;
}

@media (min-width: 1200px) { 

	h1{
		font-size:2.5vw;
		text-align:justify;
		margin-left:120px;
	}
	
	h2{
		font-size:1.5vw;
		margin-bottom:30px;
	}
	
	label, p, h3{
		font-size:.8vw;
		margin:0;
	}
	
	h4{
		font-size:1vw;
		margin:0;
	}
	
	a{
		font-size: 1vw;
	}
	
	.container-fluid{
		padding:0;
	}
	
	footer{
		background-color: #007bff;
		color : white;
		padding:20px;
	}
	
	header{
		background-color: #007bff;
		color : white;
		padding:20px;
	}
	
}